@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
  margin: 0;
  font-family: Roboto , sans-serif;
}



a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}


svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
